<a href="https://colab.research.google.com/github/mkerimbay/Machine-Learning/blob/master/W5_HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Week 5: Homework 3: End-to-End Project: K-Fold Cross Validation

In [11]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict
from tabulate import tabulate

from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [8]:
# we have this dataset with 24 rows

<img src='https://hc.labnet.sfbu.edu/~henry/sfbu/course/data_science/algorithm/slide/data_table.jpg'>

## K = 3

In [40]:
x1 = [4,1,3,3,7,4,6,5,3,6,4,4,5,7,5,10,7,4,9,5,8,6,7,8]
x2 = [3,3,3,7,4,1,5,6,7,2,6,4,8,8,6,5,6,10,7,4,5,6,4,8]
Y = ['+'] * 10 + ['-'] * 14 # we have consequent 10 positive then 14 negative outcomes

# Let's create dataframe
df = pd.DataFrame({'X1': x1, 'X2': x2, 'Y': Y})


# define our X and y
X = df[['X1', 'X2']]
y = df['Y']

df

    X1  X2  Y
0    4   3  +
1    1   3  +
2    3   3  +
3    3   7  +
4    7   4  +
5    4   1  +
6    6   5  +
7    5   6  +
8    3   7  +
9    6   2  +
10   4   6  -
11   4   4  -
12   5   8  -
13   7   8  -
14   5   6  -
15  10   5  -
16   7   6  -
17   4  10  -
18   9   7  -
19   5   4  -
20   8   5  -
21   6   6  -
22   7   4  -
23   8   8  -

In [41]:
# Create the KNN classifier with k=3
knn = KNeighborsClassifier(n_neighbors=3)

In [92]:

# prepare cross validation
kfold = KFold(n_splits=3, shuffle = True, random_state=1)
res = []  # to store results from each fold
for i, (train_indices, test_indices) in enumerate(kfold.split(X)):
  print(f" Fold: {i+1}")
  print(f" \t Train indices: {train_indices}")
  print(f" \t Test indices: {test_indices}")
  
  knn_3 = KNeighborsClassifier(n_neighbors=3)
  knn_3.fit(X.iloc[train_indices], y[train_indices])
  y_pred = knn_3.predict(X.iloc[test_indices])
  s = ' '.join(y_pred)
  print(f' \t Predictions:    \t{s}')
  s = ' '.join([y[i] for i in test_indices])
  print(f' \t Correct values: \t{s}')
  cm = confusion_matrix(y[test_indices], y_pred)
  
  print(f'Confusion Matrix:')
  print(cm)
  tn, fp, fn, tp = cm.ravel()
  precision = precision_score(y[test_indices], y_pred, average=None,)[1]
  accuracy = accuracy_score(y[test_indices], y_pred)
  recall = recall_score(y[test_indices], y_pred, average=None)[1]
  f1 = f1_score(y[test_indices], y_pred, average=None)[1]
  res.append([i+1, tn, fp, fn, tp, precision, accuracy, recall, f1])

 Fold: 1
 	 Train indices: [ 0  1  2  5  6  7  8  9 11 12 15 16 19 21 22 23]
 	 Test indices: [ 3  4 10 13 14 17 18 20]
 	 Predictions:    	+ - + - + + - -
 	 Correct values: 	+ + - - - - - -
Confusion Matrix:
[[1 1]
 [3 3]]
 Fold: 2
 	 Train indices: [ 3  4  5  8  9 10 11 12 13 14 15 17 18 20 22 23]
 	 Test indices: [ 0  1  2  6  7 16 19 21]
 	 Predictions:    	+ - + - - - - -
 	 Correct values: 	+ + + + + - - -
Confusion Matrix:
[[2 3]
 [0 3]]
 Fold: 3
 	 Train indices: [ 0  1  2  3  4  6  7 10 13 14 16 17 18 19 20 21]
 	 Test indices: [ 5  8  9 11 12 15 22 23]
 	 Predictions:    	+ + + + - - + -
 	 Correct values: 	+ + + - - - - -
Confusion Matrix:
[[3 0]
 [2 3]]

In [93]:
print('For K = 3, our table will be: \n')
print(tabulate(res, headers=['Fold', 'TN', 'FP', 'FN', 'TP', 'Precision', 'Accuracy', 'Recall', 'F1']))

For K = 3, our table will be:

  Fold    TN    FP    FN    TP    Precision    Accuracy    Recall        F1
------  ----  ----  ----  ----  -----------  ----------  --------  --------
     1     1     1     3     3         0.75       0.5         0.5  0.6
     2     2     3     0     3         0.5        0.625       1    0.666667
     3     3     0     2     3         1          0.75        0.6  0.75

In [94]:
# Our average F1 score from from 3 folds

average_f1 = sum([x[-1] for x in res]) / len(res)
average_f1

0.6722222222222222

In [ ]:
# Now we repeat these steps with K = 5

## K = 5

In [95]:
# prepare cross validation
kfold = KFold(n_splits=3, shuffle = True, random_state=1)
res = []  # to store results from each fold
for i, (train_indices, test_indices) in enumerate(kfold.split(X)):
  print(f" Fold: {i+1}")
  print(f" \t Train indices: {train_indices}")
  print(f" \t Test indices: {test_indices}")
  
  knn_5 = KNeighborsClassifier(n_neighbors=5)
  knn_5.fit(X.iloc[train_indices], y[train_indices])
  y_pred = knn_5.predict(X.iloc[test_indices])
  s = ' '.join(y_pred)
  print(f' \t Predictions:    \t{s}')
  s = ' '.join([y[i] for i in test_indices])
  print(f' \t Correct values: \t{s}')
  cm = confusion_matrix(y[test_indices], y_pred)
  
  print(f'Confusion Matrix:')
  print(cm)
  tn, fp, fn, tp = cm.ravel()
  precision = precision_score(y[test_indices], y_pred, average=None,)[1]
  accuracy = accuracy_score(y[test_indices], y_pred)
  recall = recall_score(y[test_indices], y_pred, average=None)[1]
  f1 = f1_score(y[test_indices], y_pred, average=None)[1]
  res.append([i+1, tn, fp, fn, tp, precision, accuracy, recall, f1])

 Fold: 1
 	 Train indices: [ 0  1  2  5  6  7  8  9 11 12 15 16 19 21 22 23]
 	 Test indices: [ 3  4 10 13 14 17 18 20]
 	 Predictions:    	- - + - - - - -
 	 Correct values: 	+ + - - - - - -
Confusion Matrix:
[[0 2]
 [1 5]]
 Fold: 2
 	 Train indices: [ 3  4  5  8  9 10 11 12 13 14 15 17 18 20 22 23]
 	 Test indices: [ 0  1  2  6  7 16 19 21]
 	 Predictions:    	+ + - - - - - -
 	 Correct values: 	+ + + + + - - -
Confusion Matrix:
[[2 3]
 [0 3]]
 Fold: 3
 	 Train indices: [ 0  1  2  3  4  6  7 10 13 14 16 17 18 19 20 21]
 	 Test indices: [ 5  8  9 11 12 15 22 23]
 	 Predictions:    	+ - + + - - - -
 	 Correct values: 	+ + + - - - - -
Confusion Matrix:
[[2 1]
 [1 4]]

In [96]:
print('For K = 5, our table will be: \n')
print(tabulate(res, headers=['Fold', 'TN', 'FP', 'FN', 'TP', 'Precision', 'Accuracy', 'Recall', 'F1']))

For K = 5, our table will be:

  Fold    TN    FP    FN    TP    Precision    Accuracy    Recall        F1
------  ----  ----  ----  ----  -----------  ----------  --------  --------
     1     0     2     1     5     0.714286       0.625  0.833333  0.769231
     2     2     3     0     3     0.5            0.625  1         0.666667
     3     2     1     1     4     0.8            0.75   0.8       0.8

In [97]:
# Our average F1 score from from 5 folds

average_f1 = sum([x[-1] for x in res]) / len(res)
average_f1

0.7452991452991453

In [ ]:
# Conclusion
# F1-Score with K=5 shows better result 0.74 (k=5) compared to 0.67 (k=3)
# We will predict test result with knn_5 model

In [105]:
X_test = [6,5]

prediction = knn_5.predict([[6,5]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [106]:
print(prediction)

['+']

In [ ]:
# model predicted positive